* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right bottom, rgb(19, 30, 37), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    min-height: fit-content;
    min-width: 370px;
    max-width: 370px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
}

.calculator-display {
    width: 100%;
    min-height: 100px;
    max-height: min-content;
    border-radius: 5px;
    background-color: rgba(133, 133, 133, 0.14);
    box-shadow: 2px 14px 15px 5px rgba(0, 0, 0, 0.1);
    color: white;
    word-break: break-all;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    margin-bottom: 5px;
}

.currentNumber {
    height: 45%;
    font-size: 35px;
    font-weight: bold;
}

.previousNumber {
    height: 35%;
    color: rgb(199, 199, 199);
    font-size: 20px;
}

.mathSymbol {
    height: 20%;
    font-size: 22px;
    font-weight: bold;
}

.calculator-keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.calculator-keypad button {
    padding: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.calculator-keypad button:hover {
    background-color: #bbbbbb;
}

.calculator-keypad .equals {
    grid-column: -2 / -1;
    grid-row: 4 / 6;
}

.calculator-keypad .clear {
    background-color: #ff6b6b;
    color: white;
}

.calculator-keypad .clear:hover {
    background-color: #ff4c4c;
}

.calculator-keypad .operator {
    background-color: #ffd166;
}

.calculator-keypad .operator:hover {
    background-color: #ffba4d;
}

.calculator-history {
    display: flex;
    flex-direction: column;
    height: 475px;
    /* max-height: 500px; */
    margin: 20px;
    width: 150px;
    background-color: rgba(71, 71, 71, 0.14);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.calculator-history hr {
    margin: 10px 2px;
}

.calculator-history_title {
    color: rgba(255, 255, 255, 0.44);
    padding: 5px;
}

.calculator-history_btn {
    color: white;
    background-color: rgba(141, 127, 127, 0.4);
    border: none;
    padding: 4px 10px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    display: none;
}

.calculator-history_btn.active {
    display: block;
}

.calculator-history_entries {
    padding: 10px;
}

.calculator-history_entries {
    list-style: none;
    font-size: 0.5rem;
    word-wrap: break-word;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.44);
    border-bottom: 1px solid rgba(101, 100, 100, 0.41);
    padding: 2px;
    overflow-y: auto;
}

.history_entry__result {
    color: rgb(189, 189, 189);
}

.calculator-history_entries hr {
    background-color: rgb(117, 132, 145, 0.5);
    border: 0 none;
    height: 1px;
}
